configparser>=3.5.0
drmaa>=0.7.6
fastr>=3.2.3
ghalton>=0.6.1
imbalanced-learn==0.7.0
lifelines>=0.21.1
natsort>=5.0.1
neuroCombat>=0.2.3
nose-parameterized>=0.5.0
nose>=1.3.7
numpy>=1.16.3
pandas>=0.24.2
PREDICT>=3.1.10
pyOpenSSL>=16.2.0
pydicom>=1.2.2
python-dateutil<=2.8.0
pyyaml>=5.3.1
scikit-learn==0.23.1
scipy>=1.2.1
SimpleITK>=1.2.0
six>=1.10.0
sphinx>=1.4
tables>=3.5.1
tikzplotlib>=0.9.3
tqdm>=4.7.1
xlrd>=1.2.0
xnat>=0.2.2
emcee==3.0.2
pyrfr==0.8.0
smac==0.12.3
scikit-optimize>=0.7.4
pyDOE>=0.3.8
h5py>=2.10.0