configparser
fastr
ghalton
imbalanced-learn
lifelines
# Matplotlib for using tikzplotlib, see https://github.com/nschloe/tikzplotlib/issues/559
matplotlib<=3.5.3
natsort
numpy
pandas
PREDICT
pyOpenSSL
pydicom
scikit-image
scikit-learn
scipy
SimpleITK
six
sphinx
tables
tikzplotlib
tqdm
xgboost
xlrd
xnat
