readthedocs-sphinx-search
sphinx
sphinx-argparse
sphinxcontrib-httpdomain
sphinx-autodoc-typehints
sphinx_rtd_theme
pyyaml
fastr
imbalanced-learn
lifelines
lxml
matplotlib
matplot2tikz
natsort
networkx<=3.4.2
numpy<=1.26.3
pandas
pyradiomics==3.0.1
PREDICT>=3.2.0
pyOpenSSL
pydicom
rdflib
scikit-image
scikit-learn
scipy
setuptools<=80.8.0
SimpleITK
six
sphinx
tables
tqdm
xgboost
xlrd
xnat"